.general-info .email {
    display: inline-block;
    width: calc(100% - 100px);
}

.general-info a {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: var(--transition-duration);
}

.general-info a:hover {
    background-color: var(--blue-color);
    color: white;
}