.txt-c {
    text-align: center;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}