.page .avatar-box {
    width: 300px;
    border-right: 1px solid #EEE;
}

.page .avatar-box > img {
    width: 120px;
    height: 120px;
}

.page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}

.page .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
}

@media (min-width: 768px) {
    .page .avatar-box {
        border-right: 1px solid #EEE;
    }
}

@media (max-width: 767px) {
    .page .overview {
        flex-direction: column;
    }
}