.other-data .skills-card {
    flex-grow: 1;
}

.other-data .skills-card ul li {
    padding: 15px 0;
}

.other-data .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #EEE;
}

/* .other-data .skills-card ul li span {
    display: inline-flex;
    font-size: 14px;
} */

@media (max-width: 767px) {
    .other-data {
        flex-direction: column;
    }
}