.toggle .toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle .toggle-switch {
    background-color: #CCC;
    width: 68px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: var(--transition-duration);
    cursor: pointer;
}

.toggle .toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AAA;
    transition: var(--transition-duration);
}

.toggle .toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}

.toggle .toggle-checkbox:checked + .toggle-switch::before {
    left: 40px;
    color: var(--blue-color);
    content: "\f00c";
}